@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none !important
    }
}

@media only screen and (min-width: 1024px) {
    .show-on-tablet {
        display: none !important
    }
}

@media only screen and (min-width: 1440px) {
    .show-on-desktop {
        display: none !important
    }
}

@media only screen and (min-width: 641px) {
    .show-event-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 1439px) {
    .hide-on-desktop {
        display: none !important
    }
}

@media only screen and (max-width: 640px) {
    .hide-event-on-mobile {
        display: none !important
    }
}

.hidden-desktop-up {
    display: none !important
}

@media screen and (max-width: 1023px) {
    .hidden-desktop-up {
        display: block !important
    }
}

.hidden-tablet-down {
    display: block !important
}

@media screen and (max-width: 1023px) {
    .hidden-tablet-down {
        display: none !important
    }
}

@media screen and (max-width: 1023px) {
    .stop-scrolling-under-tablet {
        overflow: hidden !important
    }
}

.body-scroll-lock {
    overflow: hidden
}

.float-right {
    float: right
}

.border-shadow {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15)
}

.mrt-modal-container {
    display: none;
    height: 100%;
    position: relative
}

.mrt-modal-container.show {
    display: block
}

.mrt-modal-container.modal-container--absolute {
    left: 0;
    position: absolute;
    top: 0
}

.mrt-modal-container .mrt-modal-background {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000
}

.mrt-modal-container .mrt-modal-body {
    position: relative;
    z-index: 1100
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none !important
    }
}

@media only screen and (min-width: 1024px) {
    .show-on-tablet {
        display: none !important
    }
}

@media only screen and (min-width: 1440px) {
    .show-on-desktop {
        display: none !important
    }
}

@media only screen and (min-width: 641px) {
    .show-event-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 1439px) {
    .hide-on-desktop {
        display: none !important
    }
}

@media only screen and (max-width: 640px) {
    .hide-event-on-mobile {
        display: none !important
    }
}

.hidden-desktop-up {
    display: none !important
}

@media screen and (max-width: 1023px) {
    .hidden-desktop-up {
        display: block !important
    }
}

.hidden-tablet-down {
    display: block !important
}

@media screen and (max-width: 1023px) {
    .hidden-tablet-down {
        display: none !important
    }
}

@media screen and (max-width: 1023px) {
    .stop-scrolling-under-tablet {
        overflow: hidden !important
    }
}

.body-scroll-lock {
    overflow: hidden
}

.float-right {
    float: right
}

.border-shadow {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15)
}

.mrt-button {
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%
}

.mrt-button.primary {
    border: 1px solid #51abf3;
    color: #2b96ed
}

.mrt-button.outline {
    border: 1px solid #ced4da;
    color: #495056
}

.mrt-button.white {
    border: 1px solid #fff;
    color: #fff
}

.mrt-button .btn-label {
    color: inherit
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none !important
    }
}

@media only screen and (min-width: 1024px) {
    .show-on-tablet {
        display: none !important
    }
}

@media only screen and (min-width: 1440px) {
    .show-on-desktop {
        display: none !important
    }
}

@media only screen and (min-width: 641px) {
    .show-event-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 1439px) {
    .hide-on-desktop {
        display: none !important
    }
}

@media only screen and (max-width: 640px) {
    .hide-event-on-mobile {
        display: none !important
    }
}

.hidden-desktop-up {
    display: none !important
}

@media screen and (max-width: 1023px) {
    .hidden-desktop-up {
        display: block !important
    }
}

.hidden-tablet-down {
    display: block !important
}

@media screen and (max-width: 1023px) {
    .hidden-tablet-down {
        display: none !important
    }
}

@media screen and (max-width: 1023px) {
    .stop-scrolling-under-tablet {
        overflow: hidden !important
    }
}

.body-scroll-lock {
    overflow: hidden
}

.float-right {
    float: right
}

.border-shadow {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15)
}

.gnb-menu__container {
    display: none;
    line-height: normal;
    position: absolute
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .gnb-menu__container {
        display: block;
        left: 29px;
        top: 27px
    }
}

@media screen and (max-width: 767px) {
    .gnb-menu__container {
        display: block;
        left: 16px;
        top: 13px
    }
}

.gnb-menu__container .gnb-menu__icon {
    display: none
}

.gnb-menu__container .gnb-menu__icon.show {
    display: inline-block
}

.gnb-menu__container .gnb-menu__icon--menu {
    height: 24px;
    width: 24px
}

.gnb-menu__container .gnb-menu__icon--close {
    height: 16px;
    width: 16px
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none !important
    }
}

@media only screen and (min-width: 1024px) {
    .show-on-tablet {
        display: none !important
    }
}

@media only screen and (min-width: 1440px) {
    .show-on-desktop {
        display: none !important
    }
}

@media only screen and (min-width: 641px) {
    .show-event-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 1439px) {
    .hide-on-desktop {
        display: none !important
    }
}

@media only screen and (max-width: 640px) {
    .hide-event-on-mobile {
        display: none !important
    }
}

.hidden-desktop-up {
    display: none !important
}

@media screen and (max-width: 1023px) {
    .hidden-desktop-up {
        display: block !important
    }
}

.hidden-tablet-down {
    display: block !important
}

@media screen and (max-width: 1023px) {
    .hidden-tablet-down {
        display: none !important
    }
}

@media screen and (max-width: 1023px) {
    .stop-scrolling-under-tablet {
        overflow: hidden !important
    }
}

.body-scroll-lock {
    overflow: hidden
}

.float-right {
    float: right
}

.border-shadow {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15)
}

.mrt-gnb-header .profile-photo {
    border: 0.5px solid #adb5bd;
    border-radius: 50%;
    height: 36px;
    vertical-align: middle;
    width: 36px
}

.mrt-gnb-header .profile-photo.transparent {
    border: solid 2px rgba(255, 255, 255, .3)
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none !important
    }
}

@media only screen and (min-width: 1024px) {
    .show-on-tablet {
        display: none !important
    }
}

@media only screen and (min-width: 1440px) {
    .show-on-desktop {
        display: none !important
    }
}

@media only screen and (min-width: 641px) {
    .show-event-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 1439px) {
    .hide-on-desktop {
        display: none !important
    }
}

@media only screen and (max-width: 640px) {
    .hide-event-on-mobile {
        display: none !important
    }
}

.hidden-desktop-up {
    display: none !important
}

@media screen and (max-width: 1023px) {
    .hidden-desktop-up {
        display: block !important
    }
}

.hidden-tablet-down {
    display: block !important
}

@media screen and (max-width: 1023px) {
    .hidden-tablet-down {
        display: none !important
    }
}

@media screen and (max-width: 1023px) {
    .stop-scrolling-under-tablet {
        overflow: hidden !important
    }
}

.body-scroll-lock {
    overflow: hidden
}

.float-right {
    float: right
}

.border-shadow {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15)
}

.gnb-menu__list__container {
    background-color: #fff;
    border-top: 1px solid #e9ecef;
    width: 100%
}

.gnb-menu__list__container .gnb-menu__list {
    margin: 0;
    padding: 15px 0;
    width: 100%
}

@media screen and (max-width: 767px) {
    .gnb-menu__list__container .gnb-menu__list {
        padding: 15px 25px
    }
}

.gnb-menu__list__container .gnb-menu__list.gnb-menu__bottom {
    padding: 0 0 15px
}

@media screen and (max-width: 767px) {
    .gnb-menu__list__container .gnb-menu__list.gnb-menu__bottom {
        padding: 0 25px 15px 25px
    }
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item {
    border-bottom: 1px solid #e9ecef;
    height: 45px;
    margin: 0 auto;
    width: 458px
}

@media screen and (max-width: 767px) {
    .gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item {
        width: 100%
    }
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item:last-child {
    border-bottom: 0
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item.profile {
    height: auto
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item.gnb-menu__list__item--signin {
    height: 55px
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item.gnb-menu__list__item--signin .gnb-menu__list__item__link {
    line-height: 55px
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item.gtm-gnb-signout {
    height: 40px;
    text-align: center
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item.gtm-gnb-signout .gnb-menu__list__item__link {
    line-height: 55px
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item .gnb-menu__list__item__link {
    color: #495056;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 45px;
    width: 100%
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item .gnb-menu__list__item__link .new-icon {
    margin-left: 5px;
    vertical-align: middle
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item .gnb-menu__list__item__link .new-icon.hidden {
    display: none !important
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item .gnb-menu__button {
    display: inline-block;
    height: 100%;
    width: 50%
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item .gnb-menu__button:first-child {
    padding-right: 6px
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item .gnb-menu__button:last-child {
    padding-left: 6px
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item .profile-container {
    display: block;
    padding-bottom: 15px;
    text-align: center;
    width: 100%
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item .profile-container .username {
    color: #666d75;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 7px
}

.gnb-menu__list__container .gnb-menu__list .gnb-menu__list__item .profile-container .profile-manage {
    color: #495056;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 7px
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none !important
    }
}

@media only screen and (min-width: 1024px) {
    .show-on-tablet {
        display: none !important
    }
}

@media only screen and (min-width: 1440px) {
    .show-on-desktop {
        display: none !important
    }
}

@media only screen and (min-width: 641px) {
    .show-event-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 1439px) {
    .hide-on-desktop {
        display: none !important
    }
}

@media only screen and (max-width: 640px) {
    .hide-event-on-mobile {
        display: none !important
    }
}

.hidden-desktop-up {
    display: none !important
}

@media screen and (max-width: 1023px) {
    .hidden-desktop-up {
        display: block !important
    }
}

.hidden-tablet-down {
    display: block !important
}

@media screen and (max-width: 1023px) {
    .hidden-tablet-down {
        display: none !important
    }
}

@media screen and (max-width: 1023px) {
    .stop-scrolling-under-tablet {
        overflow: hidden !important
    }
}

.body-scroll-lock {
    overflow: hidden
}

.float-right {
    float: right
}

.border-shadow {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15)
}

.gnb-popup-menu__container {
    background-color: #fff;
    border: 1px solid #e9ecef;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    line-height: normal;
    position: absolute;
    right: 0;
    top: 65px;
    width: 221px;
    z-index: 1000
}

.gnb-popup-menu__container .gnb-popup-menu--arrow:after,
.gnb-popup-menu__container .gnb-popup-menu--arrow:before {
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    top: 0;
    width: 0
}

.gnb-popup-menu__container .gnb-popup-menu--arrow:after {
    border-color: transparent transparent #fff;
    border-width: 6px;
    right: 11px;
    top: -12px
}

.gnb-popup-menu__container .gnb-popup-menu--arrow:before {
    border-color: transparent transparent #dee2e6;
    border-width: 6px;
    right: 11.5px;
    top: -13px
}

.gnb-popup-menu__container .gnb-popup-menu__list .gnb-popup-menu__group {
    border-bottom: 1px solid #e9ecef;
    padding: 20px;
    width: 100%
}

.gnb-popup-menu__container .gnb-popup-menu__list .gnb-popup-menu__group:last-child {
    border-bottom: 0;
    padding: 15px 20px
}

.gnb-popup-menu__container .gnb-popup-menu__list .gnb-popup-menu__group:last-child .text {
    color: #adb5bd;
    font-weight: 500
}

.gnb-popup-menu__container .gnb-popup-menu__list .gnb-popup-menu__group a {
    display: block;
    height: 100%;
    width: 100%
}

.gnb-popup-menu__container .gnb-popup-menu__list .gnb-popup-menu__group .profile-photo {
    bottom: 3px;
    position: relative;
    vertical-align: inherit
}

.gnb-popup-menu__container .gnb-popup-menu__list .gnb-popup-menu__group .gnb-popup-menu__item--profile {
    display: inline-block;
    margin-left: 10px
}

.gnb-popup-menu__container .gnb-popup-menu__list .gnb-popup-menu__group .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #495056;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    vertical-align: middle
}

.gnb-popup-menu__container .gnb-popup-menu__list .gnb-popup-menu__group .text.strong {
    font-weight: 600
}

.gnb-popup-menu__container .gnb-popup-menu__list .gnb-popup-menu__group .gnb-popup-menu__item {
    margin-bottom: 13px
}

.gnb-popup-menu__container .gnb-popup-menu__list .gnb-popup-menu__group .gnb-popup-menu__item:last-child {
    margin-bottom: 0
}

.gnb-popup-menu__container .gnb-popup-menu__list .gnb-popup-menu__group .gnb-popup-menu__item .gnb-popup-menu__item--image {
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
    width: 24px
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none !important
    }
}

@media only screen and (min-width: 1024px) {
    .show-on-tablet {
        display: none !important
    }
}

@media only screen and (min-width: 1440px) {
    .show-on-desktop {
        display: none !important
    }
}

@media only screen and (min-width: 641px) {
    .show-event-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 1439px) {
    .hide-on-desktop {
        display: none !important
    }
}

@media only screen and (max-width: 640px) {
    .hide-event-on-mobile {
        display: none !important
    }
}

.hidden-desktop-up {
    display: none !important
}

@media screen and (max-width: 1023px) {
    .hidden-desktop-up {
        display: block !important
    }
}

.hidden-tablet-down {
    display: block !important
}

@media screen and (max-width: 1023px) {
    .hidden-tablet-down {
        display: none !important
    }
}

@media screen and (max-width: 1023px) {
    .stop-scrolling-under-tablet {
        overflow: hidden !important
    }
}

.body-scroll-lock {
    overflow: hidden
}

.float-right {
    float: right
}

.border-shadow {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15)
}

.mrt-notify-popup {
    background-color: #fff;
    border: solid 1px #e9ecef;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    display: none;
    height: 410px;
    line-height: 1.5;
    position: absolute;
    right: 0;
    top: 64px;
    width: 375px;
    z-index: 200
}

@media screen and (max-width: 1023px) {
    .mrt-notify-popup {
        border: 0;
        bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 100%;
        left: 0;
        margin: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%
    }
}

.mrt-notify-popup .mrt-notify-popup--arrow:after,
.mrt-notify-popup .mrt-notify-popup--arrow:before {
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    top: 0;
    width: 0
}

.mrt-notify-popup .mrt-notify-popup--arrow:after {
    border-color: transparent transparent #fff;
    border-width: 6px;
    right: 141px;
    top: -12px
}

.mrt-notify-popup .mrt-notify-popup--arrow:before {
    border-color: transparent transparent #dee2e6;
    border-width: 6px;
    right: 141.5px;
    top: -13px
}

.mrt-notify-popup .mrt-notify__content {
    color: #343a40;
    font-size: 14px;
    font-weight: 600
}

@media screen and (max-width: 1023px) {
    .mrt-notify-popup .mrt-notify__content {
        background-color: #fff;
        height: 100%;
        margin: 0 auto;
        position: relative;
        width: 430px
    }
}

@media screen and (max-width: 767px) {
    .mrt-notify-popup .mrt-notify__content {
        width: 100%
    }
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--heading {
    border-bottom: 1px solid #e9ecef;
    padding: 16px 14px
}

@media screen and (max-width: 1023px) {
    .mrt-notify-popup .mrt-notify__content .mrt-notify__content--heading {
        height: 68px;
        padding: 30px 0 0;
        position: relative
    }
}

@media screen and (max-width: 767px) {
    .mrt-notify-popup .mrt-notify__content .mrt-notify__content--heading {
        height: 57px;
        padding: 20px 15px
    }
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body {
    height: 353px;
    overflow-y: scroll;
    position: relative
}

@media screen and (max-width: 1023px) {
    .mrt-notify-popup .mrt-notify__content .mrt-notify__content--body {
        bottom: 0;
        left: 0;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        padding-bottom: 30px;
        position: absolute;
        right: 0;
        top: 68px;
        height: auto
    }
}

@media screen and (max-width: 767px) {
    .mrt-notify-popup .mrt-notify__content .mrt-notify__content--body {
        top: 57px
    }
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list .notify-list__item {
    font-size: 14px;
    min-height: 87px;
    padding: 0 15px
}

@media screen and (max-width: 1023px) {
    .mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list .notify-list__item {
        border-bottom: 1px solid #e9ecef
    }
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list .notify-list__item.fresh-item .item-title::after {
    background-color: #a7d4f9;
    border-radius: 3px;
    content: '';
    display: inline-block;
    height: 6px;
    margin: 7px 0 0 5px;
    position: absolute;
    width: 6px
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list .notify-list__item.unread-item {
    background-color: rgba(100, 181, 246, .1)
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list .notify-list__item .notify-list__item--wrapper {
    border-bottom: 1px solid #e9ecef;
    display: block;
    min-height: inherit;
    padding: 10px 0 15px
}

@media screen and (max-width: 1023px) {
    .mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list .notify-list__item .notify-list__item--wrapper {
        border-bottom: none
    }
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list .notify-list__item .item-title {
    color: #79bef5;
    display: inline-block;
    font-weight: 500;
    position: relative
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list .notify-list__item .item-date {
    color: #848c94;
    float: right;
    font-size: 12px;
    font-weight: 400
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list .notify-list__item .notify-list__item--content {
    color: #495056;
    font-weight: 400
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list .notify-list__item p {
    margin: 0
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list .notify-list__item b {
    color: #343a40;
    font-weight: 600
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .mrt-notify__button {
    margin: 14px auto;
    text-align: center
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list__item--empty {
    height: auto;
    position: absolute;
    text-align: center;
    top: 125px;
    width: 100%
}

@media screen and (max-width: 767px) {
    .mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list__item--empty {
        margin: 0
    }
}

.mrt-notify-popup .mrt-notify__content .mrt-notify__content--body .notify-list__item--empty .empty-text {
    color: #adb5bd;
    font-size: 14px;
    font-weight: 500;
    margin: 18px auto 0;
    width: 250px
}

.mrt-notify-popup .close-noti {
    cursor: pointer;
    height: 32px;
    position: absolute;
    width: 32px;
    z-index: 20
}

@media screen and (max-width: 1023px) {
    .mrt-notify-popup .close-noti {
        right: 3px;
        top: 24px
    }
}

@media screen and (max-width: 767px) {
    .mrt-notify-popup .close-noti {
        right: 10px;
        top: 13px
    }
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none !important
    }
}

@media only screen and (min-width: 1024px) {
    .show-on-tablet {
        display: none !important
    }
}

@media only screen and (min-width: 1440px) {
    .show-on-desktop {
        display: none !important
    }
}

@media only screen and (min-width: 641px) {
    .show-event-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 1439px) {
    .hide-on-desktop {
        display: none !important
    }
}

@media only screen and (max-width: 640px) {
    .hide-event-on-mobile {
        display: none !important
    }
}

.hidden-desktop-up {
    display: none !important
}

@media screen and (max-width: 1023px) {
    .hidden-desktop-up {
        display: block !important
    }
}

.hidden-tablet-down {
    display: block !important
}

@media screen and (max-width: 1023px) {
    .hidden-tablet-down {
        display: none !important
    }
}

@media screen and (max-width: 1023px) {
    .stop-scrolling-under-tablet {
        overflow: hidden !important
    }
}

.body-scroll-lock {
    overflow: hidden
}

.float-right {
    float: right
}

.border-shadow {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15)
}

.mrt-search-tutorial {
    left: -122px;
    line-height: 0;
    position: absolute;
    top: 60px;
    z-index: 200
}

@media screen and (max-width: 1023px) {
    .mrt-search-tutorial {
        display: none
    }
}

.mrt-search-tutorial .tutorial-popup-arrow {
    text-align: center;
    width: 100%
}

.mrt-search-tutorial .tutorial-popup-arrow .popup-arrow__image {
    height: 20px;
    width: 36px
}

.mrt-search-tutorial .tutorial-popup-container {
    background-color: #fff;
    border: solid 2px #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 8px 0 rgba(66, 66, 66, .25);
    box-shadow: 0 0 8px 0 rgba(66, 66, 66, .25);
    color: #343a40;
    padding: 33px 25px 18px;
    width: 310px
}

.mrt-search-tutorial .tutorial-popup-container .tutorial-popup-title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 1.33;
    margin-bottom: 8px
}

.mrt-search-tutorial .tutorial-popup-container .tutorial-popup-content {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 1.5
}

.mrt-search-tutorial .tutorial-popup-container .tutorial-popup-buttons {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 17px;
    text-align: right
}

.mrt-search-tutorial .tutorial-popup-container .tutorial-popup-buttons .tutorial-close {
    color: #adb5bd;
    margin-right: 20px
}

.mrt-search-tutorial .tutorial-popup-container .tutorial-popup-buttons .tutorial-search {
    color: #2b96ed
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none !important
    }
}

@media only screen and (min-width: 1024px) {
    .show-on-tablet {
        display: none !important
    }
}

@media only screen and (min-width: 1440px) {
    .show-on-desktop {
        display: none !important
    }
}

@media only screen and (min-width: 641px) {
    .show-event-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 1439px) {
    .hide-on-desktop {
        display: none !important
    }
}

@media only screen and (max-width: 640px) {
    .hide-event-on-mobile {
        display: none !important
    }
}

.hidden-desktop-up {
    display: none !important
}

@media screen and (max-width: 1023px) {
    .hidden-desktop-up {
        display: block !important
    }
}

.hidden-tablet-down {
    display: block !important
}

@media screen and (max-width: 1023px) {
    .hidden-tablet-down {
        display: none !important
    }
}

@media screen and (max-width: 1023px) {
    .stop-scrolling-under-tablet {
        overflow: hidden !important
    }
}

.body-scroll-lock {
    overflow: hidden
}

.float-right {
    float: right
}

.border-shadow {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15)
}

@-webkit-keyframes ripple-big {
    100% {
        margin-left: -40px;
        margin-top: -40px;
        border-width: 40px;
        opacity: 0
    }
}

@keyframes ripple-big {
    100% {
        margin-left: -40px;
        margin-top: -40px;
        border-width: 40px;
        opacity: 0
    }
}

@-webkit-keyframes ripple-small {
    100% {
        margin-left: -25px;
        margin-top: -25px;
        border-width: 25px;
        opacity: 0
    }
}

@keyframes ripple-small {
    100% {
        margin-left: -25px;
        margin-top: -25px;
        border-width: 25px;
        opacity: 0
    }
}

@media screen and (max-width: 1023px) {
    .mrt-search-effect {
        display: none
    }
}

.mrt-search-effect .effect-circle {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    border-radius: 50%;
    border: 1px solid #a7d4f9;
    cursor: pointer;
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 0
}

.mrt-search-effect .effect-circle.inner {
    -webkit-animation: ripple-small 1.5s infinite;
    animation: ripple-small 1.5s infinite;
    opacity: .6
}

.mrt-search-effect .effect-circle.outer {
    -webkit-animation: ripple-big 1.5s infinite;
    animation: ripple-big 1.5s infinite;
    opacity: .2
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none !important
    }
}

@media only screen and (min-width: 1024px) {
    .show-on-tablet {
        display: none !important
    }
}

@media only screen and (min-width: 1440px) {
    .show-on-desktop {
        display: none !important
    }
}

@media only screen and (min-width: 641px) {
    .show-event-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 1439px) {
    .hide-on-desktop {
        display: none !important
    }
}

@media only screen and (max-width: 640px) {
    .hide-event-on-mobile {
        display: none !important
    }
}

.hidden-desktop-up {
    display: none !important
}

@media screen and (max-width: 1023px) {
    .hidden-desktop-up {
        display: block !important
    }
}

.hidden-tablet-down {
    display: block !important
}

@media screen and (max-width: 1023px) {
    .hidden-tablet-down {
        display: none !important
    }
}

@media screen and (max-width: 1023px) {
    .stop-scrolling-under-tablet {
        overflow: hidden !important
    }
}

.body-scroll-lock {
    overflow: hidden
}

.float-right {
    float: right
}

.border-shadow {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15)
}

.gnb-common-menu__container {
    height: 100%;
    line-height: 72px;
    position: absolute;
    right: 0;
    top: 0
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .gnb-common-menu__container {
        line-height: 66px;
        right: 29px
    }
}

@media screen and (max-width: 767px) {
    .gnb-common-menu__container {
        line-height: 49px;
        right: 16px
    }
}

.gnb-common-menu__container .gnb-common-menu__list {
    display: inline-block;
    position: relative
}

.gnb-common-menu__container .gnb-common-menu__list .gnb-common-menu__item {
    float: left;
    position: relative
}

.gnb-common-menu__container .gnb-common-menu__list .gnb-common-menu__item:last-child>a {
    padding-right: 0
}

.gnb-common-menu__container .gnb-common-menu__list .gnb-common-menu__item .hidden {
    display: none
}

.gnb-common-menu__container .gnb-common-menu__list .gnb-common-menu__item .gnb-common-menu__item__link {
    display: block;
    padding: 0 20px;
    position: relative
}

@media screen and (max-width: 1023px) {
    .gnb-common-menu__container .gnb-common-menu__list .gnb-common-menu__item .gnb-common-menu__item__link {
        padding-right: 0
    }
}

.gnb-common-menu__container .gnb-common-menu__list .gnb-common-menu__item .gnb-common-menu__item__link .gnb-common-menu__item--image {
    vertical-align: middle;
    height: 24px;
    width: 24px
}

.gnb-common-menu__container .gnb-common-menu__list .gnb-common-menu__item .gnb-common-menu__item__link .gnb-common-menu__item--text {
    color: #666d75;
    font-size: 14px;
    font-weight: 500
}

.gnb-common-menu__container .gnb-common-menu__list .gnb-common-menu__item .gnb-common-menu__item__link .gnb-common-menu__item--text.transparent {
    color: #fff
}

.gnb-common-menu__container .gnb-common-menu__list .gnb-common-menu__item .gnb-common-menu__item__link .gnb-common-menu__item--new {
    position: absolute;
    right: 7px;
    top: 21px;
    width: 20px
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none !important
    }
}

@media only screen and (min-width: 1024px) {
    .show-on-tablet {
        display: none !important
    }
}

@media only screen and (min-width: 1440px) {
    .show-on-desktop {
        display: none !important
    }
}

@media only screen and (min-width: 641px) {
    .show-event-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important
    }
}

@media only screen and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 1439px) {
    .hide-on-desktop {
        display: none !important
    }
}

@media only screen and (max-width: 640px) {
    .hide-event-on-mobile {
        display: none !important
    }
}

.hidden-desktop-up {
    display: none !important
}

@media screen and (max-width: 1023px) {
    .hidden-desktop-up {
        display: block !important
    }
}

.hidden-tablet-down {
    display: block !important
}

@media screen and (max-width: 1023px) {
    .hidden-tablet-down {
        display: none !important
    }
}

@media screen and (max-width: 1023px) {
    .stop-scrolling-under-tablet {
        overflow: hidden !important
    }
}

.body-scroll-lock {
    overflow: hidden
}

.float-right {
    float: right
}

.border-shadow {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .15)
}

.mrt-logo-container {
    margin: 0 auto
}

@media screen and (max-width: 1023px) {
    .mrt-logo-container {
        text-align: center
    }
}

.mrt-logo-container img {
    vertical-align: middle
}

.mrt-logo-container .b2b-logo-container {
    position: relative
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .b2b-logo-container {
        bottom: 9px
    }
}

.mrt-logo-container .mrt-logo-img {
    width: 128px
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-img {
        width: 92px
    }
}

.mrt-logo-container .mrt-logo-x {
    height: 11px;
    margin: 0 8px
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-x {
        margin: 0 5px
    }
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b {
        margin-left: 4px
    }
}

.mrt-logo-container .mrt-logo-b2b.ezwel {
    width: 95px
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.ezwel {
        width: 64px
    }
}

.mrt-logo-container .mrt-logo-b2b.hanacard {
    width: 102px
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.hanacard {
        width: 72px
    }
}

.mrt-logo-container .mrt-logo-b2b.junglian {
    width: 94px
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.junglian {
        width: 62px
    }
}

.mrt-logo-container .mrt-logo-b2b.kbcard {
    width: 95px
}

@media screen and (max-width: 1023px) {
    .mrt-logo-container .mrt-logo-b2b.kbcard {
        width: 80px
    }
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.kbcard {
        width: 64px
    }
}

.mrt-logo-container .mrt-logo-b2b.krt {
    width: 102px
}

@media screen and (max-width: 1023px) {
    .mrt-logo-container .mrt-logo-b2b.krt {
        width: 80px
    }
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.krt {
        width: 68px
    }
}

.mrt-logo-container .mrt-logo-b2b.samsungcard {
    width: 67px
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.samsungcard {
        width: 56px
    }
}

.mrt-logo-container .mrt-logo-b2b.tourdanawa {
    width: 87px
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.tourdanawa {
        width: 62px
    }
}

.mrt-logo-container .mrt-logo-b2b.ebates {
    width: 80px
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.ebates {
        width: 64px
    }
}

.mrt-logo-container .mrt-logo-b2b.serentrip {
    width: 98px
}

@media screen and (max-width: 1023px) {
    .mrt-logo-container .mrt-logo-b2b.serentrip {
        width: 80px
    }
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.serentrip {
        width: 64px
    }
}

.mrt-logo-container .mrt-logo-b2b.airteltour {
    width: 106px
}

@media screen and (max-width: 1023px) {
    .mrt-logo-container .mrt-logo-b2b.airteltour {
        width: 80px
    }
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.airteltour {
        width: 68px
    }
}

.mrt-logo-container .mrt-logo-b2b.bjnet {
    width: 141px
}

@media screen and (max-width: 1023px) {
    .mrt-logo-container .mrt-logo-b2b.bjnet {
        width: 100px
    }
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.bjnet {
        width: 94px
    }
}

.mrt-logo-container .mrt-logo-b2b.triple {
    width: 64px
}

@media screen and (max-width: 1023px) {
    .mrt-logo-container .mrt-logo-b2b.triple {
        width: 64px
    }
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.triple {
        width: 54px
    }
}

.mrt-logo-container .mrt-logo-b2b.bc {
    width: 100px
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.bc {
        width: 83px
    }
}

.mrt-logo-container .mrt-logo-b2b.wifidosirak {
    width: 82px
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.wifidosirak {
        width: 74px
    }
}

.mrt-logo-container .mrt-logo-b2b.dreamtour {
    width: 215px
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.dreamtour {
        width: 97px
    }
}

.mrt-logo-container .mrt-logo-b2b.smarttravel {
    width: 100px
}

@media screen and (max-width: 767px) {
    .mrt-logo-container .mrt-logo-b2b.smarttravel {
        width: 100px
    }
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none !important
    }
}

@media only sc